
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,300&display=swap');

*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}


body{
    width:100%;
    height:100vh;
    background-color: rgb(20, 16, 16);
    display:flex;
    align-items: center;
    justify-content: center;
}

header{
    position: relative;
    width:80%;
    height:90%;
    /* border:2px solid white; */
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 0px 10px 25px -8px rgb(202, 202, 208);
}

header::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:url(img/money\ heist1.jpg)no-repeat center center/cover;
    opacity:0.9;
    z-index: -1;
}

header::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(180deg,transparent,black);
}

header video{
    position: absolute;
    width:140%;
    height:200%;
    top:-55%;
    z-index: -1;
}

header nav{
    width:100%;
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

header nav .logo_ul{
    display: flex;
}

header nav .logo_ul img{
    width:90%;
}

header nav .logo_ul ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .logo_ul ul li{
    padding: 3px 15px;
}

header nav .logo_ul ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 3s linear;
}

header nav .logo_ul ul li a:hover{
    color: rgb(221, 208, 208);
}

header nav .search_user{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .search_user input{
    padding:5px 10px;
    border-radius: 20px;
    border:none;
    outline:none;
    background-color: rgb(65, 62, 59);
    color: rgb(243, 238, 238);
    margin-right:10px;    
}

header nav .search_user input::placeholder{
    color:aliceblue;
}

header nav .search_user img{
    width:24px;
    height:24px;
    border-radius: 50%;
}

header nav .search_user .search{
    position:absolute;
    width:320px;
    height:200px;
    right:0;
    top:40px;
    z-index:99999;
    overflow-y: auto;
}

header nav .search_user .search::-webkit-scrollbar{
    width:5px;
    background-color: rgba(230, 225, 225, 0.3);
    border-radius: 5px;
    visibility: hidden;
}

header nav .search_user .search::-webkit-thumb{
    width:5px;
    background-color: rgb(53, 49, 49,0.5);
    border-radius: 5px;
    visibility: hidden;
}

header nav .search_user .search:hover::-webkit-scrollbar{
    visibility: visible;
}
header nav .search_user .search:hover::-webkit-thumb{
    visibility: visible;
}

header nav .search_user .search .card{
    position:relative;
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    display: none;
}

header nav .search_user .search .card::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgb(160, 152, 152,0.1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

header nav .search_user .search .card img{
    width:28px;
    height:90%;
    border-radius: 0;
    margin-left: 8px;
}

header nav .search_user .search .card .cont{
    margin-left:10px;
    color:white;
}
header nav .search_user .search .card .cont h3{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:250px;
}

header nav .search_user .search .card .cont p{
    font-size: 10px;
    color:aliceblue;
}
header nav .search_user .search .card .cont span{
    background-color: yellow;
    color:rgb(9, 10, 10);
    padding: 0px 3px;
    margin:0px 5px;
    font-weight: 500;
}

header .content{
    position:relative;
    color:white;
    margin-top: 50px;
    padding-left: 50px;
}

header .content h1{
    font-size: 50px;
}

header .content p{
    font-size: 11px;
    width:350px;
    word-break: break-all;
}

header .content .details{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header .content .details h6{
    color:aliceblue;
    font-size: 10px;
    margin-right: 10px;
}

header .content .details h5{
    color:rgb(187, 198, 209,.8);
    font-size: 10px;
    margin-right: 10px;
}

header .content .details h4{
    color:rgb(14, 157, 24);
    font-size: 10px;
    margin-right: 10px;
}
header .content .details h3{
    color:aliceblue;
    display: flex;
    align-items: center;
    font-size: 10px;
}

header .content .details h3 span{
    background-color: yellow;
    color:rgb(9, 10, 10);
    padding: 0px 3px;
    margin:0px 5px;
    font-weight: 500;
}

header .content .btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
header .content .btns a{
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg,#00bdff,#0079ff);
    border-radius: 5px;
    color: white;
    margin-left: 7px;
    text-decoration: none;
    animation: button 1s linear infinite;
}

@keyframes button{
    0%{
        background: linear-gradient(0deg,#00bdff,#0079ff);
    }
    12%{
        background: linear-gradient(45deg,#00bdff,#0079ff);
    }
    24%{
        background: linear-gradient(95deg,#00bdff,#0079ff);
    }
    36%{
        background: linear-gradient(145deg,#00bdff,#0079ff);
    }
    48%{
        background: linear-gradient(195deg,#00bdff,#0079ff);
    }
    60%{
        background: linear-gradient(245deg,#00bdff,#0079ff);
    }
    72%{
        background: linear-gradient(295deg,#00bdff,#0079ff);
    }
    100%{
        background: linear-gradient(360deg,#00bdff,#0079ff);
    }
}


header section{
    position: absolute;
    width:100%;
    height:auto;
    padding:0px 50px;
    bottom:20px;
    color:#fff;
}

header section div.cards{
    position: relative;
    width: 100%;
    height: 200px;
    /* border: 1px solid white; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

header section .cards::-webkit-scrollbar{
    display: none;
} 

header section div.cards a.card{
    display: flex;
    position: relative;
    min-width: 130px;
    height: 180px;
    border: 1px solid white;
    /* border-radius: 8px; */
    margin-right: 10px;
    background: black;
    transition: .3s linear;
}

header section .cards .card .poster{
    width:100%;
    height:100%;
    border-radius: 8px;
    position: relative;
}

header section .cards .card:hover{
    min-width:300px;
    overflow: hidden;
}

header section .cards .card .rest_card{
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 8px;
    left:0;
    top:0;
    z-index: 999999;
    opacity:0;
    transition: 1s linear;
}

header section .cards .card .rest_card img{
    position:relative;
    width:100%;
    height:100%;
    border-radius: 8px;
    z-index: -1;
}

header section .cards .card .rest_card::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(180deg,transparent,rgb(16, 15, 15));
    left:0;
    bottom: 0;
    z-index:-1;    
}

header section .cards .card .rest_card .cont{
      position: absolute;
      width:100%;
      bottom:10px;
      left:0;
      color:white;
      padding:0px 20px;
      z-index:99999;
}

header section .cards .card .rest_card .cont .sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header section .cards .card .rest_card .cont .sub p{
    font-size:12px;
    font-weight:400;
    color:rgb(105, 99, 99);

}



header section .cards .card .rest_card .cont .sub h3{
    color:aliceblue;
    display: flex;
    align-items: center;
    font-size: 12px;
}


header section .cards .card .rest_card .cont .sub span{
    background-color: yellow;
    color:rgb(9, 10, 10);
    padding: 0px 3px;
    margin:0px 5px;
    font-weight: 500;
    border-radius: 2px;
}


header section .cards .card .rest_card .cont .sub i{
    margin-right:3px;
}


header section .cards .card:hover .rest_card{
    opacity: 1;
}

header section .bi-chevron-left,.bi-chevron-right{
    position: absolute;
    top:50%;
    left:3%;
    width:25px;
    height:25px;
    background: rgb(105, 99, 99);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    cursor:pointer;
    transition: .3s linear;
    z-index:99999999;
    opacity: 0;
}

header section:hover .bi-chevron-right{
    left:unset;
    right:3%;
    opacity:1;
}

header section:hover .bi-chevron-left{
    opacity:1;
}

@media screen and (max-width:1250px){
    header video{
        position: absolute;
        width:200%;
        height:180%;
    }
}

@media screen and (max-width:780px){
    header{
        width:100%;
        height:100%;
    }
    header nav{
        padding:0px 10px;
        height:15%;
    }
    header nav .logo_ul ul{
        position: absolute;
        top:0px;
        left:10px;
    }
    header nav .logo_ul ul li{
        padding:3px 5px;
    }
    header nav .logo_ul ul li a{
        font-size: 10px;
    }
    header .content{
        padding-left:10px;
    }
    header section{
        padding:0px 10px;
    }
}


@media screen and (max-width:620px){
    header video{
        position: absolute;
        width: 317%;
        height: 183%;
    }
}


